.img {
    height: auto;
    border-radius: 50%;
    padding: 10px;
}


.resume-title {
    font-variant: small-caps;
    border-bottom: 2px none #444;
    padding-bottom: 5px;
    margin-bottom: 20px;
}



.sn a:-webkit-any-link {
    color: white;
}

.sn a:-moz-any-link {
    color: white;
}

.sn a:hover {
    color: #0D6EFD;
}

.sn li {
    float: right;
    width: 50px;
    margin-bottom: 15px;
}

.sn ul {
    list-style: none;
}

.sn i {
    font-size: 34px;
}

